<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>skebby</name>
	<displayName><![CDATA[Skebby SMS]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Send and receive automatic SMS notification alerts on order status of your PrestaShop store and use the web interface Skebby.it for sending promotional SMS campaigns that increase sales! Official PrestaShop partner: try it now with 100 SMS free!]]></description>
	<author><![CDATA[Skebby Dev Team]]></author>
	<tab><![CDATA[emailing]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall? You will not be able to send sms notifications.]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
